*, *:after, *:before
    margin: 0
    padding: 0
    box-sizing: border-box

input
    height: 2rem
    margin-right: 1rem

.refreshButton
    background-color: transparent
    outline: none
    border: none
    cursor: pointer
    transition: transform 1s 
    &:hover
        transform:  rotate(360deg)

.refreshIcon
    width: 2rem
    height: 2rem


.weatherInfoCurrent
    border: 2px solid purple

.weatherInfoForecast
    border: 2px solid pink
